<ul>
  <% if @current_user %>
  <h1>Places</h1>
    <% sorted_places = @places.sort_by { |place| place["name"] } %>
    <% for place in sorted_places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
  <p>
  <a href="/places/new">New place</a>
  </p>
  <% else %>
    <h1>Travel Journal</h1>
    <li>Welcome to your travel journal. You will need to login to start using the site!</li>
  <% end %>
</ul>
</ul>

