<div style="margin-bottom: 1em;"></div>

<h4 style="color: #4D4D4D;">New Place</h4>

<div style="margin-bottom: 1em;"></div>

<%= form_with :model => @place do |form| %>
   <div class="mb-3">
    <%= form.label "name", :class => "form-label" %>
    <%= form.text_field "name", :class => "form-control" %>
  </div>

<%= form.submit "Add", :class => "btn btn-outline-dark" %>
<% end %>